# No whitespace after the comma or in your part name!
config SHIELD_BIBA40_LEFT
    def_bool $(shields_list_contains,biba40_left)

# No whitespace after the comma or in your part name!
config SHIELD_BIBA40_RIGHT
    def_bool $(shields_list_contains,biba40_right)

CONFIG_ZMK_SOFT_OFF=y
